@import 'base/variables';
@import 'base/mixins';


* {
    font-family: 'MuseoModerno', cursive;
    box-sizing: border-box;  
}
h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    position: relative;
    max-width: 942px;
    margin: 0 auto;
}
.tns-nav{
    width: 80%;
    text-align: center;
    position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translateX(-50%);
    button{
        background-color: blue;
        margin: 0 5px;
        width: 25px;
        height: 10px;
        border-radius: 5px;
    }
    .tns-nav-active{
        background-color: red;
    }
}
    
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/catalog-item';
@import 'blocks/clients';
@import 'blocks/footer';
@import 'base/media'