.consultation{
    padding: 110px 0;
    background: url('../img/consultation/bg2.jpg') no-repeat center/cover;
    &__descr{
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        margin-top: 10px;
    }
    .error{
        border: 1px solid red;
    }
    label.error{
        border: none;
    }
    label{
        color: #fff;
        text-align: center;
        margin-top: -5px;
        margin-bottom: 15px;
    }
}