.footer{
    position: relative;
    &__info{
        padding: 50px 0 56px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main-color;
        text-align: center;
    }
    &__title{
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
    }
    &__phone{
        display: block;
        margin-top: 36px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
    }
    &__social{
        margin-top: 36px;
        display: flex; 
        justify-content: center;
        &-round{
            margin: 0 15px;
            border: 2px solid #FFFFFF;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}